@using Edushi.RenWu.Special
@model Edushi.RenWu.Web.Mobile.Models.CommentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="applicable-device" content="mobile" />
    <title>@string.Format("\"{0}\"所有评论-E都市", Html.Raw(Model.Article.IA_Title))</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="@Url.Content("~/asset/css/detail_750.css")">
    <script>
        document.documentElement.style.fontSize = 100 * ((document.documentElement.clientWidth) / 750) + "px";
    </script>
    <script type="text/javascript" src="@Url.Content("~/asset/js/jquery-1.8.3.min.js")"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99a36e54478482e04c158ab069a3e598";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <header class="center">
        <a href="javascript:history.go(-1);" class="back"></a>
        全部评论 (@Model.TotalCommentCount)
    </header>

    <div class="content-main">
        @if (Model.UserComments != null && Model.UserComments.Any())
        {
            <section class="comment-cnt all-comment">
                <div class="comment-box" id="datalist">
                    @foreach (var item in Model.UserComments)
                    {
                        var commentInfo = item.CommentAllInfo;
                        <div class="comment-list">
                            <div class="photo"><img src="@(ViewBag.UserHeaderDomain + commentInfo.CommentUserInfo["Avatar"])" onerror="this.src = 'http://res.edushi.com/www/touch/v7/asset/images/userhead.jpg'" /></div>
                            <div class="comment-info">
                                <div>
                                    <div class="user">
                                        <span class="name">@commentInfo.CommentUserInfo["NickName"]</span>
                                        <p class="time">@commentInfo.CommentInfo.UC_CreateDate.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm") </p>
                                    </div>
                                    <ul class="tools" data-id="@commentInfo.CommentInfo.UC_ID">
                                        <li class="zan @(commentInfo.IsUpvoteDownvote== -2 ? " yizan" : "")"><em>+1</em><span>@commentInfo.CommentInfo.UC_UpvoteTotal</span></li>
                                        <li class="cai @(commentInfo.IsUpvoteDownvote== -3 ? " yicai" : "")"><em>+1</em><span>@commentInfo.CommentInfo.UC_DownvoteTotal</span></li>
                                        <li class="replay"><a href="@string.Format("{0}comment/detail/{1}-{2}.html", Url.Content("~/"), Model.Article.IA_ID, commentInfo.CommentInfo.UC_ID)">回复</a></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    @Html.Raw(commentInfo.CommentInfo.UC_Content)
                                </div>
                                @if (item.ReplyInfo != null && item.ReplyInfo.Any())
                                {
                                    var replyCount = item.ReplyInfo.Count > 2 ? 2 : item.ReplyInfo.Count;
                                    <div class="replay-box">
                                        @for (var i = 0; i < replyCount; i++)
                                        {
                                            var replyItem = item.ReplyInfo[i];
                                            <div class="replay-list">
                                                <div>
                                                    <div class="user">
                                                        <span class="name">@replyItem.CommentUserInfo["NickName"]</span>
                                                        <span class="time">@replyItem.CommentInfo.UC_CreateDate.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</span>
                                                    </div>
                                                    <ul class="tools" data-id="@replyItem.CommentInfo.UC_ID">
                                                        <li class="zan @(replyItem.IsUpvoteDownvote == -2 ? " yizan" : "")"><em>+1</em><span>@replyItem.CommentInfo.UC_UpvoteTotal</span></li>
                                                        <li class="cai @(replyItem.IsUpvoteDownvote == -3 ? " yicai" : "")"><em>+1</em><span>@replyItem.CommentInfo.UC_DownvoteTotal</span></li>
                                                    </ul>
                                                </div>
                                                <div class="replay-content">@Html.Raw(replyItem.CommentInfo.UC_Content)</div>
                                            </div>
                                        }
                                        @if (item.ReplyInfo.Count > 2)
                                        {
                                            <div class="all-replay"><a href="@string.Format("{0}comment/detail/{1}-{2}.html", Url.Content("~/"), Model.Article.IA_ID, commentInfo.CommentInfo.UC_ID)">查看全部@(item.ReplyInfo.Count)条回复</a></div>
                                        }

                                    </div>
                                }

                            </div>
                        </div>
                    }
                    @if (Model.PageCount > 0)
                    {
                        <div class="loading">
                            <span>正在加载更多</span>
                        </div>
                    }

                </div>
                <div class="post-comment">
                    <input type="hidden" value="@Model.Article.IA_ID" id="article-id" />
                    <input type="hidden" value="0" id="father-id" />
                    <textarea placeholder="" class="comment-area"></textarea>
                    <input type="button" class="publish" value="发布" />
                </div>
            </section>
        }
        <section class="floatbar">
            <div class="back-top"></div>
        </section>
        <section class="pop-content">
            <div class="pop-box">
                <div class="msg" id="msg">您已收藏，请到个人中心查看</div>
                <span class="btn cancel">知道了</span>
                <a class="btn confirm" href="javascript:void(0);" style="display: none;">去看看</a>
            </div>
        </section>
    </div>
@if (Model.PageCount > 0)
{
    <script>
        var ConfigData = {
            Count: "@Model.PageCount",
            Url: "@Url.Content("~/")",
            Page: "GetMoreComment.htm",
            ID: "@Model.Article.IA_ID"
        };
    </script>
    <script src="@Url.Content("~/asset/js/scrollload.bak.js")"></script>
}
    <script>
        var requestUrl = "@Url.Content("~/")";
    </script>
    <script src="@Url.Content("~/asset/js/common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/asset/js/comment.js")"></script>
   
</body>
</html>
