@model Edushi.Tu.Web._3G.Models.HomeModel
@using Edushi.Tu.Model
@using Edushi.Tu.Special
@{
    string sub = string.Empty;
    List<PicTypeModel> parentType = Model.AllType.FindAll(p => p.PT_ParentID == 0);
    if (parentType.Any())
    {
        sub = string.Join(",", parentType.Select(p => p.PT_Name));
    }

    ViewBag.Title = "图闻频道-E都市";
   
}
@section meta {
    <meta name="Keywords" content="图闻,@sub" />
    <meta name="Description" content="E都市图闻频道是全面专业的图闻资讯信息平台，提供@(sub.Replace(",", "、"))等图闻资讯，构建新型互联网媒体平台为互联网用户提供价值资讯。" />
}
<link rel="stylesheet" href="@Url.Content("~/asset/css/style_7.0.css")">
@Html.Partial("Header", "Shared")
<section class="main-nav-box">
    <div class="main-nav clearfix">
        <nav>
            <a href="@Url.Content("~/")" class="on">首页</a>
            @if (parentType.Any())
            {
                foreach (var item in parentType)
                {
                    <a href="@Common.GetInfoListUrl(Url.Content("~/"), item.PT_ParentID, item.PT_ID)">@item.PT_Name</a>
                }
            }
        </nav>
    </div>
</section>
<div class="content-main">
    @if (Model.Data != null && Model.Data.Any())
    {
        <!--轮播-->
        <section class="carousel">
        <div class="focus-box">
            <ul class="swiper-wrapper">
                @for (int i = 0; i < Model.Data.Count; i++)
                {
                    if (i > 5)
                    {
                        break;
                    }
                    var item = Model.Data[i];
                    <li class="swiper-slide">
                        <a href="@item.Url"><img data-src="@item.Pic" class="swiper-lazy"/></a>
                        <p class="text">
                            <a href="@item.Url">@Html.Raw(item.Title)</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
        <div class="pic-num">
            <div class="number">
                <span class="on-num">1</span>/<span class="total-num">6</span>
            </div>
        </div>
    </section>
    }
    @if (Model.Data != null && Model.Data.Count > 6)
    {
        <section class="news-list">
    <ul id="datalist">
    @for (int i = 6; i < Model.Data.Count; i++)
    {
        var liClass = string.Empty;
        var imgBox = string.Empty;
        var item = Model.Data[i];

        if (!string.IsNullOrWhiteSpace(item.Pic) && !string.IsNullOrWhiteSpace(item.Pic1) && !string.IsNullOrWhiteSpace(item.Pic2))
        {
            imgBox = string.Format(" <div class=\"img-box\">\r\n  <p><img src=\"{0}\"/></p>\r\n <p><img src=\"{1}\"/></p>\r\n <p><img src=\"{2}\"/></p>\r\n <div class=\"number\"><span>{3}</span></div></div>\r\n", item.Pic, item.Pic1, item.Pic2, item.PicCount);

        }
        else if (!string.IsNullOrWhiteSpace(item.Pic))
        {
            imgBox = string.Format(" <div class=\"img-box\">\r\n  <p><img src=\"{0}\"/></p>\r\n  <div class=\"number\"><span>{1}</span></div></div>\r\n", item.Pic, item.PicCount);
            liClass = " class=\"singletu\"";
        }

        <li @Html.Raw(liClass)>
            <a href="@item.Url">
                <div class="title">@Html.Raw(item.Title)</div>
                @Html.Raw(imgBox)
                <div class="tips">
                    <span class="author">@Html.Raw(item.Author)</span>
                    <span class="comment"></span>
                    <span class="time">@item.Time</span>
                </div>
            </a>
        </li>
    }
    </ul>
<div class="loading">
    <span>正在加载更多</span>
</div>
</section>
    }
</div>
@Html.Partial("Footer", "Shared")
<script type="text/javascript" src="@Url.Content("~/asset/js/swiper.min.js")"></script>
<script type="text/javascript">
if($(".focus-box li").length > 1){
    var mySwiper = new Swiper('.focus-box',{
    	loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        lazy: {
            loadPrevNext: true,
        },
        on:{
            slideChangeTransitionStart: function(){
                $(".on-num").text(this.realIndex+1);
            }
        }
    });
    $(".total-num").text(mySwiper.slides.length-2);
}
    var ConfigData = {
        Count: "@Model.PageCount",
        pageIndex: 0,
        Url: "@Url.Content("~/")",
        Page: "GetMoreData.htm",
        ID: 0
    };
</script>
<script src="@Url.Content("~/asset/js/scrollload.js")" type="text/javascript"></script>
