@model Edushi.Www.Web.PC.Models.ChannelModel
@using Edushi.Common;
@{
    ViewBag.Title = "ChannelMorePic";
}

@{

    string sub = string.Empty;
    if (Model.SubType != null && Model.SubType.Count > 0)
    {
        for (int i = 0; i < Model.SubType.Count; i++)
        {
            Edushi.Www.Model.InfoTypeModel item = Model.SubType[i];
            if (i > 0)
            {
                sub += ",";
            }
            sub += item.IT_Name;
        }
    }
    ViewBag.Title = Model.TypeName + "频道-E都市";
}
@section meta{
    <meta name="Keywords" content="@(Model.TypeName),@sub" />
    <meta name="Description" content="E都市@(Model.TypeName)频道是全面专业的@(Model.TypeName)资讯信息平台，提供集@(sub.Replace(",", "、"))等@(Model.TypeName)资讯，构建新型互联网媒体平台为互联网用户提供价值资讯。" />
}

<link href="@Url.Content("~/asset/css/channel.css")" rel="stylesheet" />

<!--频道页顶部导航-->
@{Html.RenderAction("TopNavigation", "Channel");}

<div class="container mt20">
    <div class="channel-header">
        <div class="wrapper">
            <div class="logo">
                <a href="@Url.Content("~/")" target="_blank"><img src="@Url.Content("~/asset/images/logo.png")"></a>
                <a href="@Model.CurrentURL" class="channel-name">@Model.TypeName</a>
            </div>
        </div>
        <div class="sub-nav tu-sub-nav">
            <div class="wrapper">
                <p class="home"><a href="@Model.CurrentURL" class="current" target="_blank">首页</a></p>
                @if (Model.SubType != null && Model.SubType.Any())
                {
                    <div class="nav">
                        @foreach (var item in Model.SubType)
                        {
                            <span><a href="@Common.GetInfoListUrl(item.IT_ParentPath, item.IT_ID)" target="_blank">@item.IT_Name</a></span>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="banner-slide-main">
        <div class="left-mask">
            <div class="mask"></div>
            <div class="lm-t"></div>
            <div class="lm-lb"></div>
            <div class="lm-rb"></div>
        </div>
        <div class="area">
            <div class="clearfix">
                <div class="fl yl-slide">
                    <div class="yl-slide-box">
                        <ul>
                            @Html.Raw(Model.InfoTopDay)
                        </ul>
                        <div class="slide-prev"></div>
                        <div class="slide-next"></div>
                    </div>
                    <div class="yl-slide-btn"></div>
                </div>
                <div class="fr top-news">
                    <div class="top-news-tit"></div>
                    <ul>
                        @if (Model.TouTiaoRecommendedNews != null && Model.TouTiaoRecommendedNews.Any())
                        {
                            for (int i = 0; i < Model.TouTiaoRecommendedNews.Count; i++)
                            {
                                if (i > 6)
                                {
                                    break;
                                }
                                var className = i == 0 ? "class='first'" : "";
                                var item = Model.TouTiaoRecommendedNews[i];

                                <li @Html.Raw(className)>
                                    <h3><a href="@item.Url" target="_blank">@Html.Raw(item.Title)</a></h3>
                                    <a href="@item.Url" target="_blank" class="pic">
                                        <img src="@item.Pic.GetPicReplace("","")" onerror="this.src='@Url.Content("~/asset/images/default_photo.png")'">
                                        <span>@(i + 1)</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="right-mask">
            <div class="mask"></div>
            <div class="rm-t"></div>
            <div class="rm-lb"></div>
            <div class="rm-rb"></div>
        </div>
    </div>

    <div class="wrapper">
        <div class="col left">
            <div class="left-side-list">
                <div class="yule-tit"><span><a href="http://www.edushi.com/zt/" target="_blank">专题</a></span></div>
                <ul>
                    @Html.Raw(Model.Topic)
                </ul>
                <span class='white_bg'></span>
            </div>
        </div>
        <div class="col middle">
            <div class="nav-bar js-navbar">
                <div class="nav-list">
                    <a href="@Model.CurrentURL" target="_blank" class="on">@Model.TypeName</a>
                    @for (int i = 0; i < Model.SubType.Count; i++)
                    {
                        if (i > 5) { break; }
                        var item = Model.SubType[i];
                        <a href="@Common.GetInfoListUrl(item.IT_ParentPath, item.IT_ID)" target="_blank">@item.IT_Name</a>
                    }
                </div>
                <div class="more-nav">
                    <span>更多</span>
                    <div class="more-nav-list">
                        @for (int i = 6; i < Model.SubType.Count; i++)
                        {
                            var item = Model.SubType[i];
                            <a href="@Common.GetInfoListUrl(item.IT_ParentPath, item.IT_ID)" target="_blank">@item.IT_Name</a>
                        }
                    </div>
                </div>
            </div>
            <div class="js-newslist">
                <ul class="tu-news-list">
                    @if (Model.TouTiaoRecommendedNews != null && Model.TouTiaoRecommendedNews.Count > 7)
                    {
                        for (int i = 7; i < Model.TouTiaoRecommendedNews.Count; i++)
                        {
                            var item = Model.TouTiaoRecommendedNews[i];
                            var imgHtml = string.Empty;
                            var className = string.Empty;
                            if (!string.IsNullOrWhiteSpace(item.Pic) && !string.IsNullOrWhiteSpace(item.Pic1) && !string.IsNullOrWhiteSpace(item.Pic2))
                            {
                                imgHtml = string.Format("<span class='photo'><img src='{0}' onerror=\"this.src='{3}'\"></span><span class='photo'><img src='{1}' onerror=\"this.src='{3}'\"></span><span class='photo'><img src='{2}' onerror=\"this.src='{3}'\"></span>", item.Pic.GetPicReplace("", ""), item.Pic1.GetPicReplace("", ""), item.Pic2.GetPicReplace("", ""), Url.Content("~/asset/images/default_photo.png"));
                                className = "class='figure'";
                            }
                            else if (!string.IsNullOrWhiteSpace(item.Pic))
                            {
                                imgHtml = string.Format("<span class='photo'><img src='{0}' onerror=\"this.src='{1}'\"></span>", item.Pic.GetPicReplace("", ""), Url.Content("~/asset/images/default_photo.png"));
                            }
                            <li @Html.Raw(className)>
                                <a class="title" href="@item.Url" target="_blank">@Html.Raw(item.Title)</a>
                                <div class="imgbox">
                                    <a href="@item.Url" target="_blank">
                                        @Html.Raw(imgHtml)
                                    </a>
                                </div>
                                <div class="info">
                                    <span class="sub"><a href="@item.TypeUrl" target="_blank">@item.TypeName</a></span>
                                    <span class="keyword">@item.UserName</span>
                                    <span class="time">@item.UpdateTime.ToString("yyyy-MM-dd")</span>
                                </div>
                            </li>
                        }
                    }

                </ul>
                <div class="yule-middle-slide">
                    <div class="slide-box">
                        <div class="tit">
                            <span><i>娱乐</i>图文</span>
                            <div class="slide-btn"></div>
                        </div>
                        <ul>
                            @Html.Raw(Model.PicHtml)
                        </ul>
                        <div class="slide-prev"></div>
                        <div class="slide-next"></div>
                    </div>
                </div>
                <ul class="tu-news-list" id="datalist">
                    @if (Model.RecommendedNews != null && Model.RecommendedNews.Any())
                    {
                        foreach (var item in Model.RecommendedNews)
                        {

                            if (item.TypeName == "图闻")
                            {
                                <li class="tu">
                                    <a href="@item.Url" target="_blank" class="title">@Html.Raw(item.Title)</a>
                                    <div class="imgbox">
                                        <a href="@item.Url" target="_blank">
                                            <span class="photo"><img src="@item.Pic.GetPicReplace("", "")"></span>
                                        </a>
                                    </div>
                                    <div class="info"><span class="sub"><a href="@item.TypeUrl" target="_blank">@item.TypeName</a></span></div>
                                </li>
                            }
                            else
                            {
                                var imgHtml = string.Empty;
                                var className = string.Empty;
                                if (!string.IsNullOrWhiteSpace(item.Pic) && !string.IsNullOrWhiteSpace(item.Pic1) && !string.IsNullOrWhiteSpace(item.Pic2))
                                {
                                    imgHtml = string.Format("<span class='photo'><img src='{0}'></span><span class='photo'><img src='{1}'></span><span class='photo'><img src='{2}'></span>", item.Pic.GetPicReplace("", ""), item.Pic1.GetPicReplace("", ""), item.Pic2.GetPicReplace("", ""));
                                    className = "class='figure'";
                                }
                                else if (!string.IsNullOrWhiteSpace(item.Pic))
                                {
                                    imgHtml = string.Format("<span class='photo'><img src='{0}'></span>", item.Pic.GetPicReplace("", ""));
                                }
                                <li @Html.Raw(className)>
                                    <a class="title" href="@item.Url" target="_blank">@Html.Raw(item.Title)</a>
                                    <div class="imgbox">
                                        <a href="@item.Url" target="_blank">
                                            @Html.Raw(imgHtml)
                                        </a>
                                    </div>
                                    <div class="info">
                                        <span class="sub"><a href="@item.TypeUrl" target="_blank">@item.TypeName</a></span>
                                        <span class="keyword">@item.UserName</span>
                                        <span class="time">@item.UpdateTime.ToString("yyyy-MM-dd")</span>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            </div>
            @if (Model.PageCount > 0)
            {
                <a href="javascript:void(0);" class="load-btn">加载更多</a>
            }

        </div>
        <div class="col right">
            @if (Model.SixContent != null && Model.SixContent.Any())
            {
                for (int i = 0; i < Model.SixContent.Count; i++)
                {
                    var item = Model.SixContent[i];
                    string className = i == 0 ? "class='right-side-list yule-side-list'" : (i == 1 ? "class='right-side-list yule-side-list mt30'" : "class='right-side-list yule-side-list mt20'");

                    <div @Html.Raw(className)>
                        <div class="tit"><span><a href="@Common.GetInfoListUrl(item.SubType.IT_ParentPath,item.SubType.IT_ID)" target="_blank">@item.SubType.IT_Name</a></span></div>
                        <ul>
                            @for (int j = 0; j < item.Content.Count; j++)
                            {
                                var subItem = item.Content[j];
                                if (j == 0 && !string.IsNullOrWhiteSpace(subItem.Pic))
                                {
                                    <li class="b">
                                        <a href="@subItem.Url" target="_blank">
                                            <span>@Html.Raw(subItem.Title)</span>
                                            <img src="@subItem.Pic.GetPicReplace("", "")" onerror="this.src='@Url.Content("~/asset/images/default_photo.png")'">
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@subItem.Url" target="_blank"><span>@Html.Raw(subItem.Title)</span></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    if (i == 0)
                    {
                        <div class="jsfixed mt20">
                            <!-- 广告位：【A02-02】 -->
                            <script>
                                (function () {
                                    var s = "_" + Math.random().toString(36).slice(2);
                                    document.write('<div id="' + s + '"></div>');
                                    (window.slotbydup = window.slotbydup || []).push({
                                        id: '5296249',
                                        container: s,
                                        size: '300,250',
                                        display: 'inlay-fix'
                                    });
                                })();
                            </script>
                        </div>
                    }
                    else if (i == 2)
                    {
                        <div class="mt20">
                            <!-- 广告位：【A02-03】 -->
                            <script>
                                (function () {
                                    var s = "_" + Math.random().toString(36).slice(2);
                                    document.write('<div id="' + s + '"></div>');
                                    (window.slotbydup = window.slotbydup || []).push({
                                        id: '5296251',
                                        container: s,
                                        size: '300,250',
                                        display: 'inlay-fix'
                                    });
                                })();
                            </script>
                        </div>
                    }
                    else if (i == 4)
                    {
                        <div class="mt20">
                            <!-- 广告位：【A02-04】 -->
                            <script>
                                (function () {
                                    var s = "_" + Math.random().toString(36).slice(2);
                                    document.write('<div id="' + s + '"></div>');
                                    (window.slotbydup = window.slotbydup || []).push({
                                        id: '5296253',
                                        container: s,
                                        size: '300,250',
                                        display: 'inlay-fix'
                                    });
                                })();
                            </script>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <!--底部导航-->
    @{Html.RenderAction("ChannelFooter", "Channel", new { currentId = Model.CurrentID });}
    <!--read_data：@Model.read_data_time-->
</div>
<script>
    var configData = {
        Count: "@Model.PageCount",
        Url: "@Url.Content("~/")",
        Page: "GetMoreDataForPicChannel.htm",
        ID: "@Model.CurrentID"
    }
</script>
<script type="text/javascript" src="@Url.Content("~/asset/js/jquery.slimscroll.js")"></script>
<script type="text/javascript" src="@Url.Content("~/asset/js/channel.js")"></script>
<script type="text/javascript" src="@Url.Content("~/asset/js/banner_slide.js")"></script>
<script type="text/javascript" src="@Url.Content("~/asset/js/slide.js")"></script>

<script type="text/javascript">
    $(function () {
        slide($(".slide-box"), $(".slide-box .slide-prev"), $(".slide-box .slide-next"), $(".slide-box .slide-btn"), "on");
        toFixed($(".js-navbar"), $(".js-navbar").offset().top);
        toFixed($(".jsfixed"), $(".col.right").outerHeight(true) + $(".col.right").offset().top);
    });
</script>