@model Edushi.Tu.Web.PC.Models.DetailModel
@using Edushi.Tu.Special;
@{
    ViewBag.Title =Model.article.PA_Title+"-E都市";

    string pai_pic = string.Empty;
    string pai_desc = string.Empty;
    string pic_temp = Model.article.PA_FirstPic;
    int lastLaction = pic_temp.LastIndexOf("/");
    string begin = pic_temp.Substring(0, lastLaction + 1);
    string end = pic_temp.Substring(lastLaction + 1);

    pai_pic = begin + end.Substring(1);
    pai_desc = Model.article.PA_FirstPicDesc;
    ViewBag.IsDetail = 1;
}

@section meta{
    <meta name="keywords" content="@(Model.article.PA_Keyword)-@(Model.article.PA_Title)" />
    <meta name="description" content="@(pai_desc)" />
    <meta http-equiv="mobile-agent" content="format=html5; url=@(Request.Url.AbsoluteUri.ToLower().Replace("tu", "m.tu"))" />
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/asset/css/detail7.0.css")">
<div class="wrapper">
    <div class="headline clearfix">
        @if (Model.AuthorInfo != null && Model.AuthorInfo["NickName"] != null && !string.IsNullOrWhiteSpace(Model.AuthorInfo["NickName"].ToString()))
        {
            <div class="fl eds-name">
                <a href="@string.Format("http://user.edushi.com/index/3-{0}.html",Model.AuthorInfo["ID"])" target="_blank"><img src="@(ViewBag.UserHeaderDomain + Model.AuthorInfo["Avatar"])"/></a>
                <div class="fl">
                    <span class="name"><a href="@string.Format("http://user.edushi.com/index/3-{0}.html",Model.AuthorInfo["ID"])" target="_blank">@Model.AuthorInfo["NickName"]</a></span>
                    <div id="fansfollow" data-id="@Model.AuthorInfo["ID"]"><span></span></div> <!-- 已关注时样式改为 followed 同时文字改为已关注 -->
                </div>
            </div>
        }
        <h1 class="fl">@Html.Raw(Model.article.PA_Title)</h1>
        <div class="fr tips">
            <div>
                <a href="@pai_pic.GetPicReplace("", "")" target="_blank" class="vieworigin">原图</a>
                <a href="#comments-area" class="comment">评论（<span>@Model.CountCommentNoRepeat</span>）</a>
            </div>
            <div class="share-box clearfix">
                <span class="fl">分享：</span>
                <a href="@Model.ShareUrlDic["Sina"]" target="_blank" class="weibo"><i></i>微博</a>
                <div class="share-more">
                    <span class="icon"><i></i></span>
                    <ul>
                        <li><a href="@Model.ShareUrlDic["QQ"]" target="_blank" class="qq"><i></i>QQ</a></li>
                        <li><a href="@Model.ShareUrlDic["QQZone"]" target="_blank" class="qzone"><i></i>QQ空间</a></li>
                        <li>
                            <a class="weixin"><i></i>微信</a>
                            <div class="qrcode-wrap">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="photo-area">
        <div class="big-photo">
            <div class="imgbox">
                <img src="@pai_pic.GetPicReplace("", "")" id="pai_pic">
            </div>
            <div id="div_page">
            </div>
        </div>
        <div class="photo-text">
            <div class="clearfix">
                <div class="fl pic-num"><span class="current" id="current_page">@Model.currentPageIndex</span>/<span class="totle" id="total_page">@Model.pageCount</span></div>
                <div class="fl pic-text" id="pai_desc">
                    @Html.Raw(pai_desc)
                </div>
            </div>
            <div class="time">@(DateTime.Parse(Model.article.PA_CreateDate.ToString()).ToLocalTime().ToString("yyyy-MM-dd"))&nbsp;&nbsp;&nbsp;来源：@(Model.article.PA_FromTitle)  </div>
        </div>
    </div>
    <div class="article-operation clearfix" data-id="@Model.article.PA_ID">
        <a href="http://report.edushi.com/report" class="report">举报本文</a>
        <div class="cai" id="atl-cai"><i></i><em>+1</em><span class="u-num">0</span></div> <!-- 已踩添加样式 visited -->
        <div class="zan" id="alt-zan"><i></i><em>+1</em><span class="u-num">0</span></div> <!-- 已赞添加样式 visited -->
        <a href="javascript:void(0)" class="collect ">收藏本文</a> <!-- 收藏成功后样式添加 success 同时文字改为 收藏成功 -->
    </div>

    @if (Model.ChannelOrder != null && Model.ChannelOrder.Any())
    {
        <div class="recommend-news rank">
            <div class="tit">图闻排行</div>
            <ul class="clearfix">
                @foreach (var item in Model.ChannelOrder)
                {
                    <li>
                        <a href="@item.Url" target="_blank">
                            <div class="imgbox">
                                <img src="@item.Pic">
                                <div class="number">@(item.PicCount)图</div>
                            </div>
                            <p class="text">@Html.Raw(item.Title)</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
    @if (Model.TopicRecommend != null && Model.TopicRecommend.Any())
    {
        <div class="recommend-news">
            <div class="tit">专题排行</div>
            <ul class="clearfix">
                @foreach (var item in Model.TopicRecommend)
                {
                    string url = "http://www.edushi.com/zt/" + "info/" + item.TT_ID_Parent + "-" + item.TT_ID + "-n" + item.T_ID + ".html";
                    <li>
                        <a href="@url" target="_blank">
                            <div class="imgbox">
                                <img src="@item.T_BackGroundPic.GetPicReplace("", "")">
                                <div class="zt">专题</div>
                            </div>
                            <p class="text">@Html.Raw(item.T_Title)</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }



    <div class="clearfix">
        <div class="comment-box" id="comments-area">
            <div class="comment-line"></div>
            <div class="comment-toolbar">
                <div class="comment-logo"></div>
                <div class="count">评论 <span>@Model.CountComment</span></div>
                <div class="join-count">参与 <span>@Model.TotalCountComment</span></div>
                <a href="#comments-area" class="fatie" style="display: none;">发布</a>
            </div>
            <div class="tie-cnt">
                <div class="js-tieba">
                    <div class="tie-area clearfix">
                        <textarea name="" id="comment0" class="comments-area"></textarea>
                        <div class="publist-btn" onclick="SubmitGuestBook(0);"><input type="button" name="" id="submitBtn" value="登录并发布"></div>
                    </div>
                    @*隐藏域*@
                    <input type="hidden" id="hidUrl" value="@Url.Content("~/")" />
                    <input type="hidden" id="hidID" value="@(Model.article.PA_ID)" />
                    <div class="tips">网友评论仅供其表达个人看法，并不表明E都市立场。</div>
                    <div id="msg0" class="msg"></div>
                </div>
                <div class="tie-hot" id="allcomment">
                    @Html.Raw(Model.CommentHtml)
                </div>
                @if (Model.CountCommentNoRepeat > 10)
                {
                    <p class="more" style=" display:block;" id="divMoreComment"  onclick="MoreComment()"><span>加载更多评论</span></p>
                }
            </div>
        </div>
        <div class="fr sliderad">
            <div>
                <script type="text/javascript" src="//cpro1.edushi.com/ytcclpzss.js"></script>
            </div>
        </div>
    </div>
</div>
<div class="flag-mask" style="display: none;">
    <div class="flag-msg">关注成功</div>
</div>
<script type="text/javascript">
    var ImageData = '@Html.Raw(Model.PageHtml)';
    var requestUrl = "@Url.Content("~/")";
</script>
<script type="text/javascript" src="@Url.Content("~/asset/js/detail.js")"></script>
<script type="text/javascript" src="@Url.Content("~/asset/js/Comment.js")"></script>
<script src="@Url.Content("~/asset/js/PicImage.js")" type="text/javascript"></script>
