@model Edushi.ZT.Web._3G.Models.CommentDetailModel
@using Edushi.ZT.Web._3G.Helper
@{
    ViewBag.Title = "评论回复-专题-E都市";
    var currtyLoginId = DataHelper.GetUserId(); // 登录人id
}

@section meta {
    <meta name="keywords" content="" />
    <meta name="description" content="" />
}
<link rel="stylesheet" href="@Url.Content("~/asset/css/detail7.0.css")">
<header class="center">
    <a onclick="javascript:history.go(-1);" class="back"></a>
    回复评论
</header>

@if (Model.Comment != null && Model.Comment.CommentAllInfo.CommentInfo != null)
{
    var commentData = Model.Comment.CommentAllInfo;
    <section class="replay-info-box comment-box">
        <div class="comment-list user-comment">
            <a class="photo" href="@string.Format("http://m.edushi.com/user/index/{0}-{1}.html", Convert.ToInt32(commentData.CommentUserInfo["UserType"].ToString()) == 3 ? 5 : 1, commentData.CommentUserInfo["ID"])"><img src="@(ViewBag.UserHeaderDomain + commentData.CommentUserInfo["Avatar"])" /></a>
            <div class="comment-info">
                <div>
                    <div class="user">
                        <a class="name" href="@string.Format("http://m.edushi.com/user/index/{0}-{1}.html", Convert.ToInt32(commentData.CommentUserInfo["UserType"].ToString()) == 3 ? 5 : 1, commentData.CommentUserInfo["ID"])">@commentData.CommentUserInfo["NickName"]</a>
                        <p class="time">@commentData.CommentInfo.UC_CreateDate.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm") </p>
                    </div>
                    @{
    var currtyUserId = Convert.ToInt32(commentData.CommentUserInfo["ID"].ToString());
    if (currtyLoginId != currtyUserId)
    {
        if (currtyLoginId != 0)
        {
            var data = DataHelper.GetIsAttentioned(currtyUserId);
            if (data == -2)
            {
                <div class="@string.Format("followed id{0}", currtyUserId)" onclick="@string.Format("attention(this, {0}", currtyUserId))"></div>
            }
            else
            {
                <div class="@string.Format("follow-btn id{0}", currtyUserId)" onclick="@string.Format("attention(this, {0}", currtyUserId))"></div>
            }
        }
        else
        {
            <div class="@string.Format("follow-btn id{0}", currtyUserId)" onclick="@string.Format("attention(this, {0}", currtyUserId))"></div>
        }

    }
                    }
                    <ul class="tools" data-id="@commentData.CommentInfo.UC_ID">
                        <li class="zan @(commentData.IsUpvoteDownvote == -2 ? " yizan" : "")"><em>+1</em><span>@commentData.CommentInfo.UC_UpvoteTotal</span></li>
                        <li class="cai @(commentData.IsUpvoteDownvote == -3 ? " yicai" : "")"><em>+1</em><span>@commentData.CommentInfo.UC_DownvoteTotal</span></li>
                        <li class="replay"><a>回复</a></li>
                    </ul>
                </div>
                <div class="content">
                    @Html.Raw(commentData.CommentInfo.UC_Content)
                </div>
            </div>
        </div>
        @if (Model.Comment.ReplyInfo != null && Model.Comment.ReplyInfo.Any())
        {

            <div class="tit">全部回复 (@Model.Comment.ReplyInfo.Count)</div>
            <div class="all-replay">
                @foreach (var replyItem in Model.Comment.ReplyInfo)
                {
                    <div class="comment-list">
                        <a class="photo" href="@string.Format("http://m.edushi.com/user/index/{0}-{1}.html", Convert.ToInt32(replyItem.CommentUserInfo["UserType"].ToString()) == 3 ? 5 : 1, replyItem.CommentUserInfo["ID"])"><img src="@(ViewBag.UserHeaderDomain + replyItem.CommentUserInfo["Avatar"])" /></a>
                        <div class="comment-info">
                            <div>
                                <div class="user">
                                    <a class="name" href="@string.Format("http://m.edushi.com/user/index/{0}-{1}.html", Convert.ToInt32(replyItem.CommentUserInfo["UserType"].ToString()) == 3 ? 5 : 1, replyItem.CommentUserInfo["ID"])">@replyItem.CommentUserInfo["NickName"]</a>
                                    <p class="time">@replyItem.CommentInfo.UC_CreateDate.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm") </p>
                                </div>
                                @{
                    var replyId = Convert.ToInt32(replyItem.CommentUserInfo["ID"].ToString());
                    if (currtyLoginId != replyId)
    {
        if (replyId != 0)
        {
            var data = DataHelper.GetIsAttentioned(replyId);
            if (data == -2)
            {
                <div class="@string.Format("followed id{0}", replyId)" onclick="@string.Format("attention(this, {0}", replyId))"></div>
            }
            else
            {
                <div class="@string.Format("follow-btn id{0}", replyId)" onclick="@string.Format("attention(this, {0}", replyId))"></div>
            }
        }
        else
        {
            <div class="@string.Format("follow-btn id{0}", replyId)" onclick="@string.Format("attention(this, {0}", replyId))"></div>
        }

    }
                                }
                                <ul class="tools" data-id="@replyItem.CommentInfo.UC_ID">
                                    <li class="zan @(replyItem.IsUpvoteDownvote == -2 ? " yizan" : "")"><em>+1</em><span>@replyItem.CommentInfo.UC_UpvoteTotal</span></li>
                                    <li class="cai @(replyItem.IsUpvoteDownvote == -3 ? " yicai" : "")"><em>+1</em><span>@replyItem.CommentInfo.UC_DownvoteTotal</span></li>
                                </ul>
                            </div>
                            <div class="content">
                                @Html.Raw(replyItem.CommentInfo.UC_Content)
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="post-comment">
            <input type="hidden" value="@Model.T_ID" id="article-id" />
            <input type="hidden" value="@Model.CommentId" id="father-id" />
            <textarea placeholder="回复评论" class="comment-area"></textarea>
            <input type="button" class="publish" value="发布" />
        </div>
    </section>
    <section class="pop-content">
        <div class="pop-box">
            <div class="msg" id="msg">您已收藏，请到个人中心查看</div>
            <span class="btn cancel">知道了</span>
            <a class="btn confirm" href="javascript:void(0);" style="display: none;">去看看</a>
        </div>
    </section>
    <!-- 关注与取消关注时的提示层 -->
<section class="look-layout">
    <div class="look-msg"></div>
</section>
}
<section class="floatbar">
    <div class="back-top"></div>
</section>
<script>
    $(function () {
        $(".replay a").click(function () {
            $(".post-comment .comment-area")[0].focus();
        });
    });
    var requestUrl = "@Url.Content("~/")";
</script>