@using Edushi.Common
@model Edushi.UserCenter.Web.PC.Models.WenDaCustomModel
@{
    var imgDomain = Common.GetConfigString("UserHeadPic");
}
@if (Model.answerModel != null && Model.answerModel.List.Any())
{
    <div class="info-tips">共回答<span>@Model.answerModel.TotalCount</span>个!</div>
    <div class="answer-box js-votebox" id="datalist">
       
            @foreach (var item in Model.answerModel.List)
            {
                var qNickName = item.QUserInfo != null && !string.IsNullOrWhiteSpace(item.QUserInfo["NickName"].ToString()) ? item.QUserInfo["NickName"] : "E都市网友";
                var qUserHead = item.QUserInfo != null && !string.IsNullOrWhiteSpace(item.QUserInfo["Avatar"].ToString()) ? imgDomain + item.QUserInfo["Avatar"] : Url.Content("~/areas/wenda/asset/images/userhead.jpg");
                int qUserId = item.QUserInfo != null && item.QUserInfo["ID"] != null ? (int)item.QUserInfo["ID"] : 0;
                var qWendaUrl = qUserId > 0 ? "href=/wenda/index/1-" + qUserId + ".html target=_blank" : "";
                <div class="question-cnt js-votelist">
                    <h2 class="q-tit"><a href="@item.Url" target="_blank">@Html.Raw(item.QTitle)</a></h2>
                    <div class="q-info">
                        <a @qWendaUrl class="photo">
                            <img src="@qUserHead" />@qNickName
                        </a>
                        <span>@item.CreateDate</span><span>@(item.ReplyCount)回答</span><span class="last">@(item.CollectionCount)人收藏</span>
                    </div>
                    @if (item.AnswerList != null && item.AnswerList.Any())
                    {
                        foreach (var answer in item.AnswerList)
                        {
                            if (string.IsNullOrWhiteSpace(answer.Answer))
                            {
                                continue;
                            }
                            var nickName = answer.UserInfo != null && !string.IsNullOrWhiteSpace(answer.UserInfo["NickName"].ToString()) ? answer.UserInfo["NickName"] : "E都市网友";
                            var userHead = answer.UserInfo != null && !string.IsNullOrWhiteSpace(answer.UserInfo["Avatar"].ToString()) ? imgDomain + answer.UserInfo["Avatar"] : Url.Content("~/areas/wenda/asset/images/userhead.jpg");
                            int userId = answer.UserInfo != null && answer.UserInfo["ID"] != null ? (int)answer.UserInfo["ID"] : 0;
                            var wendaUrl = userId > 0 ? "href=/wenda/index/1-" + userId + ".html target=_blank" : "";
                                <div class="answer-info clearfix">
                                    @if (!string.IsNullOrWhiteSpace(answer.Pic))
                                    {
                                        <div class="pic"><img src="@answer.Pic"></div>
                                    }
                                    <div class="anser-item">
                                        <div class="anser-item-i">
                                            <a href="@item.Url" target="_blank">@Html.Raw(answer.Answer)<span>全文</span></a>
                                        </div>
                                        <div class="answer-user">
                                            <a class="photo" @wendaUrl>
                                                <img src="@userHead" />@nickName
                                            </a>
                                        </div>
                                        <ul class="anser-oper js-oper clearfix" data-id="@answer.AnswerId">
                                            <li @Html.Raw(answer.IsPraise == -2 ? "class=\"zan yizan\"" : "class=\"zan\"")><span class="u-num">@answer.PraiseCount</span> 赞</li>
                                            <li @Html.Raw(answer.IsPraise == -3 ? "class=\"cai yicai\"" : "class=\"cai\"")><span class="u-num">@answer.StepCount</span> 踩<em>+1</em></li>
                                            <li class="comment"><a href="@item.Url" target="_blank">@(answer.CommentCount) 评论</a></li>
                                            <li class="share">
                                                分享
                                                <div class="hid-share">
                                                    <a href="javascript:void(0);" class="weixin">
                                                        <div class="wx-qr"><img src="@Url.Content("~/Areas/WenDa/asset/images/0302.jpg")" /></div>
                                                    </a>
                                                    <a href="javascript:void(0);" class="qq"></a>
                                                    <a href="javascript:void(0);" class="qzone"></a>
                                                    <a href="javascript:void(0);" class="weibo"></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>                           
                        }
                    }
                    
                </div>
            }
    </div>

    <div class="loading" style="display: none;">正在加载中</div>
    <div class="more-cnt" @Html.Raw(Model.answerModel.PageCount > 1 ? "style=\"display:none\"" : "")>没有更多了</div>
}

<script type="text/javascript">
    var ConfigData = {
        "PageIndex": 1,
        "UserId": "@Model.userId",
        "Count": "@Model.answerModel.PageCount",
        "Page": "@Url.Content("~/")",
        "Url": "wenda/GetAuthorMoreAnswers.htm",
        "Id": 0,
        "Type": 4
    }
</script>

<script src="@Url.Content("~/areas/wenda/asset/js/scrollload.bak.js")"></script>