@using System.Diagnostics
@using Edushi.Common
@model Edushi.UserCenter.Web.PC.Areas.WenDa.Models.UserModel
@{
    ViewBag.Title = string.Format("{0}-E都市", Model.UserInfo == null || string.IsNullOrWhiteSpace(Model.UserInfo.UI_NickName) ? "用户头条号" : Model.UserInfo.UI_NickName);
    ViewBag.AuthorNews = true;
}
@*<link href="@Url.Content("~/asset/css/user.css")" rel="stylesheet" />*@
@section meta
{
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
}

<div class="fl sidebar-box">
    @if (Model.UserInfo != null)
    {
        <div class="photo-box">
            <div class="photo">
                <img src="@(ViewBag.UserImgDomain + Model.UserInfo.UI_Avatar)">
            </div>
            <span class="name">@Html.Raw(Model.UserInfo.UI_NickName)</span>
            <span class="text">@Html.Raw(Model.UserInfo.UI_Tags)</span>
            @{
               if ((Model.IsAttentioned != null && Model.IsAttentioned["Success"].ToString() == "-2")
                   && (Model.IsEachAttentioned != null && Model.IsEachAttentioned["Success"].ToString() == "-2"))
               {
                   <div class="js-follow follow-btn eachother">互相关注</div>
               }
               else if (Model.IsAttentioned != null && Model.IsAttentioned["Success"].ToString() == "-2"){
                    <div class="js-follow follow-btn followed">已关注</div>
               }
               else if (Model.IsEachAttentioned != null && Model.IsEachAttentioned["Success"].ToString() == "-2")
               {
                   <div class="js-follow follow-btn">关注</div>
                   <div class="follow-tips">TA关注了我</div>
               }
               else
               {
                   <div class="js-follow follow-btn"  >关注</div>
               }
}
        </div>
        <ul>
            <li class="tips">
                <a href="@Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Attention ? "javascript:void(0);" : string.Format("{0}wenda/index/{1}-{2}.html", Url.Content("~/"), (int)DataEnum.WenDaType.Attention, Model.UserInfo.UI_ID))" @Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Attention ? "class=\"current\"" : "")>
                    <span>@Model.AttentionCount</span>TA的关注
                </a>
                <a href="@Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Fans ? "javascript:void(0);" : string.Format("{0}wenda/index/{1}-{2}.html", Url.Content("~/"), (int)DataEnum.WenDaType.Fans, Model.UserInfo.UI_ID))" @Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Fans ? "class=\"current\"" : "")>
                    <span>@Model.FansCount</span>TA的粉丝
                </a>
            </li>
            <li class="activities @Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Activities ? "current" : "")">
                <a href="@Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Activities ? "javascript:void(0);" : string.Format("{0}wenda/index/{1}-{2}.html", Url.Content("~/"), (int)DataEnum.WenDaType.Activities, Model.UserInfo.UI_ID))">TA的动态</a>
            </li>
            <li class="ask @Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Questions ? "current" : "")">
                <a href="@Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Questions ? "javascript:void(0);" : string.Format("{0}wenda/index/{1}-{2}.html", Url.Content("~/"), (int)DataEnum.WenDaType.Questions, Model.UserInfo.UI_ID))">TA的提问</a>
            </li>
            <li class="answer @Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Answers ? "current" : "")">
                <a href="@Html.Raw(Model.PageType == (int)DataEnum.WenDaType.Answers ? "javascript:void(0);" : string.Format("{0}wenda/index/{1}-{2}.html", Url.Content("~/"), (int)DataEnum.WenDaType.Answers, Model.UserInfo.UI_ID))">TA的回答</a>
            </li>
        </ul>
    }
</div>
@if (Model.WenDaInfo != null) { 
<div class="fl main-box">
    @if (Model.PageType == (int)DataEnum.WenDaType.Activities)
    {
        Html.RenderPartial("~/Areas/WenDa/Views/AuthorNews/Activities.cshtml", Model.WenDaInfo);
    }
    else if (Model.PageType == (int)DataEnum.WenDaType.Questions)
    {
        Html.RenderPartial("~/Areas/WenDa/Views/AuthorNews/Questions.cshtml", Model.WenDaInfo);
    }
    else if (Model.PageType == (int)DataEnum.WenDaType.Answers)
    {
        Html.RenderPartial("~/Areas/WenDa/Views/AuthorNews/Answers.cshtml", Model.WenDaInfo);
    }
    else if (Model.PageType == (int)DataEnum.WenDaType.Attention)
    {
        Html.RenderPartial("~/Areas/WenDa/Views/AuthorNews/Attention.cshtml", Model.WenDaInfo);
    }
    else if (Model.PageType == (int)DataEnum.WenDaType.Fans)
    {
        Html.RenderPartial("~/Areas/WenDa/Views/AuthorNews/Fans.cshtml", Model.WenDaInfo);
    }
</div>
}
    <script>
    $(function () {
        //更新最后浏览时间
        $.post("/UpdateAttentionOfUpdateDate.htm", { "userId": "@Model.UserInfo.UI_ID" });

        $(".js-follow").click(function () {
            if (!$(this).hasClass("follow")) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/AddAttention.htm",
                    data: { "userId": "@Model.UserInfo.UI_ID" },
                        success: function (data) {
                            if (data.ResultCode == 1) {
                                window.location.reload();
                            } else if (data.ResultCode == 2) {
                                window.location.href = '/Login.html?BackUrl=' + window.location.href;
                            } else {
                                popUp(data.Msg);
                            }
                        }
                    });
                } else {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/CancelAttention.htm",
                        data: { "userId": "@Model.UserInfo.UI_ID" },
                    success: function (data) {
                        if (data.ResultCode == 1) {
                            $(".js-follow").removeClass("follow");
                        } else if (data.ResultCode == 2) {
                            window.location.href = '/Login.html?BackUrl=' + window.location.href;
                        } else {
                            popUp(data.Msg);
                        }
                    }
                });
            }
        });
    })
    </script>
