@model Edushi.RenWu.Web.PC.Models.ChannelIndexModel
@{
    ViewBag.Title = Model.CurrentModel.IT_Name + "人物-人物频道-E都市";


    var sub = string.Empty;
    var myType = Model.AllRwType.FindAll(p => p.IT_ParentID == Model.CurrentModel.IT_ID);

    if (myType.Count > 0)
    {
        sub = string.Join(",", myType.Select(p => p.IT_Name));
    }

    var keywords = string.Format("{0},{1}",Model.CurrentModel.IT_Name, sub);
    var description = string.Format("E都市{0}频道是全面专业的{0}人物资讯信息平台，提供集{1}等人物资讯，构建新型互联网媒体平台为互联网用户提供价值资讯。", Model.CurrentModel.IT_Name, (sub.Replace(",", "、")));

    var mobileUrl = string.Empty;
    var uri = Request.Url.AbsoluteUri.ToLower();
    var ilocation = uri.LastIndexOf("/", StringComparison.Ordinal);
    if (ilocation > -1)
    {
        mobileUrl = "http://m.edushi.com/renwu/info/" + uri.Substring(ilocation + 1);
    }
}

@section meta
{
     <meta name="Keywords" content="@keywords" />
    <meta name="Description" content="@description" />
    <meta http-equiv="mobile-agent" content="format=html5; url=@mobileUrl" />
}

<div class="container mt20">
    <!--频道导航-->
    @{Html.RenderPartial("ChannelNavigation");}

    <div class="content-main">
        <div class="web-width">
            @*搜索框*@
            @{Html.RenderAction("Search", "Home", new { itId=Model.CurrentModel.IT_ID });}
            @if (Model.RenWuList != null && Model.RenWuList.Any())
{
    <div class="per-box">
        <ul>
            @foreach (var item in Model.RenWuList)
            {
                <li>
                    <a href="@item.Url" target="_blank">
                        <div><img src="@item.Pic" alt=""></div>
                        <span class="name">@Html.Raw(item.Title)</span>
                    </a>
                </li>
            }

        </ul>
        <div class="page-box">
            @Html.Raw(Html.Pager(Model.TotalCount, Model.PageSize, Model.currentPage, "", "", new PagerOptions { PageIndexParameterName = "pageno", ShowDisabledPagerItems = false, NumericPagerItemCount = 10, CurrentPageNumberFormatString = "<span>{0}</span>", ShowFirstLast = false }, Model.PageRouteName, new { currentID = Model.CurrentModel.IT_ID }, null).ToString().Replace("&lt;", "<").Replace("&gt;", ">").Replace("'", "\""))

        </div>
    </div>
}
        </div>
    </div>
</div>
