@model Edushi.UserCenter.Web.PC.Areas.WenDa.Models.FansOrAttentionsModel
@{
    ViewBag.PageType = 2;
    ViewBag.Title = "我的关注-E都市问答";
}

<div class="fl main-box">
    <div class="info-tips">共关注<span>@(Model.TotalCount)</span>人!</div>
    <div class="follow-box" id="datalist">
        @if (Model.List != null && Model.List.Any())
        {
            foreach (var item in Model.List)
            {
                <div class="follow-list clearfix">
                    <a href="/wenda/index/1-@(item.UserId).html" target="_blank">
                        <div class="fl follow-user">
                            <img src="@item.Avatar" class="photo" />
                            <div class="info">
                                <div class="user">@Html.Raw(item.NickName)</div>
                                <p>@Html.Raw(item.Desc)</p>
                            </div>
                        </div>
                    </a>
                    <div class="fr @Html.Raw(item.IsMutualConcern ? "follow-btn" : "follow-btn followed")" data-id="@item.UserId">@(item.IsMutualConcern ? "互相关注" : "已关注")</div> <!-- 已关注添加样式 followed 同时文字为 已关注 -->
                </div>
            }
        }
    </div>
    <div class="loading" style="display: none;">正在加载中</div>
    <div class="more-cnt" @Html.Raw(Model.PageCount > 1 ? "style=\"display:none\"" : "")>没有更多了</div>
</div>
<script type="text/javascript">
    var ConfigData = {
        "PageIndex":1,
        "Count": "@Model.PageCount",
        "Page": "@Url.Content("~/")",
        "Url": "wenda/GetMoreAttention.htm",
        "Id": 0,
        "Type": 1
    }
    $(function () {

        $("#datalist").on("mouseover",
            ".follow-list .follow-btn",
            function () {
                $(this).addClass("dis-follow");
                $(".dis-follow").text("取消关注");
            });

        $("#datalist").on("mouseleave",
            ".follow-list .follow-btn",
            function () {
                $(this).removeClass("dis-follow");
                if ($(this).hasClass("followed")) {
                    $(this).text("已关注");
                } else {
                    $(this).text("互相关注");
                }
            });

        //$(".follow-list .follow-btn").hover(function () {
        //    $(this).addClass("dis-follow");
        //    $(".dis-follow").text("取消关注");
        //}, function () {
        //    $(this).removeClass("dis-follow");
        //    if ($(this).hasClass("followed")) {
        //        $(this).text("已关注");
        //    } else {
        //        $(this).text("互相关注");
        //    }
        //});

        //取消关注
        $("#datalist").on("click",
            ".follow-list .dis-follow",
            function () {
                var userId = $(this).data("id");
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/CancelAttention.htm",
                    data: { "userId": userId },
                    success: function (data) {
                        if (data.ResultCode == 1) {
                            window.location.href = "/wenda/attention.html";
                            //$(".main-box .info-tips span").text(parseInt($(".main-box .info-tips span").text()) - 1);
                            //that.parents(".follow-list").remove();
                        } else if (data.ResultCode == 2) {
                            window.location.href = '/Login.html?BackUrl=' + window.location.href;
                        } else {
                            alert(data.Msg);
                        }
                    }
                });
            });
    })
</script>

<script src="@Url.Content("~/areas/wenda/asset/js/scrollload.bak.js")"></script>