@using Edushi.Common
@using Edushi.WenDa.Web.PC.Helper
@model Edushi.WenDa.Web.PC.Models.ChannelModel
@{
    ViewBag.Title = "回答频道-E都市问答-E都市";
    var userUrl = Common.GetConfigString("domain_UserCenter");
}

@section meta
{
    <meta name="Keywords" content="E都市问答，一款有用的问答，专注分享知识、经验、观念。在这里，希望所有人都能找到答案、参与讨论。" />
    <meta name="Description" content="E都市问答 是以在线互动问答和搜索形式展现、提供价值资讯的信息服务平台,您可以根据自身的需求,有针对性地提出问题,同时这些答案也可以满足有相同或类似问题的其他人需求。" />
}

@Html.Partial("_ListHeader")

@Html.Partial("_Search")


<div class="main-nav-box">
    <div class="wrapper">
        <a class="gray">答题分类</a>
        
        <a href="@Url.Content("~/info/2.html")" target="_blank" @Html.Raw(Model.CurrentType==null?"class=\"current\"":"")>全部</a>
       
        @if (Model.AllTypes != null && Model.AllTypes.Any())
        {
            var parentTypes = Model.AllTypes.FindAll(p => p.IT_ParentID == 0);
            if (parentTypes.Any())
            {
                foreach (var item in parentTypes)
                {
                    <a href="@Common.GetWenDaInfoListUrl(Url.Content("~/"),item.IT_ID,2)" target="_blank" @Html.Raw(Model.CurrentType!=null&&item.IT_ID == Model.CurrentType.IT_ID ? "class=\"current\"" : "")>@item.IT_Name.Substring(0,2)</a>
                }
            }

        }
    </div>
</div>
<div class="wrapper main-container clearfix">
<div class="fl main-box">
@if (Model.WaitQuestions != null && Model.WaitQuestions.Any())
{
    <div class="question-list answer-list" id="datalist">
    @foreach (var item in Model.WaitQuestions)
    {
        var url = Common.GetInfoUrl(Url.Content("~/"), item.IT_ID_Parent, item.IQ_ID);
        var userInfo = item.IQ_UserID == null || item.IQ_UserID <= 0 ? null : DataHelper.GetUserSimpleInfoByUIID(item.IQ_UserID.Value);
        var nickName = userInfo != null ? userInfo["NickName"] : "E都市网友";
        var userHead = userInfo != null ? ViewBag.UserHeaderDomain + userInfo["Avatar"] : Url.Content("~/asset/images/userhead.jpg");
        int userId = userInfo != null ? (int)userInfo["ID"] : 0;
        var wendaUserUrl = userId > 0 ? "href=" + userUrl + "wenda/index/1-" + userId + ".html target=_blank" : "";
        var collectionCount = DataHelper.GetUserFavoritesCount(item.IQ_ID.ToString());
        <div class="question-cnt">
            <div class="answer-info clearfix">
                @if (!string.IsNullOrWhiteSpace(item.IQ_Pic))
                {
                    <div class="pic"><img src="@item.IQ_Pic" onerror="this.src='@Url.Content("~/asset/images/default_photo.png")'"></div>
                }
                <div class="anser-item">
                    <h2 class="q-tit">
                        <a href="@url" target="_blank">@Html.Raw(item.IQ_Title)</a>
                    </h2>
                    <div class="q-info">
                        <a @wendaUserUrl class="photo">
                            <img src="@userHead" />@nickName
                        </a>
                        <span>@Common.TimeInterval(item.IQ_CreateDate.Value, DateTime.Now)</span><span>@(item.IQ_AnswerCount)回答</span><span class="last">@(collectionCount)人收藏</span>
                    </div>
                    <ul class="anser-oper js-oper clearfix">
                        <li class="answer-btn"><a href="@url" target="_blank">我来回答</a></li>
                        <li class="share">
                            分享
                            <div class="hid-share">
                                <a href="javascript:void(0);" class="weixin">
                                    <div class="wx-qr"><img src="@Url.Content("~/asset/images/0302.jpg")"/>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="qq"></a>
                                <a href="javascript:void(0);" class="qzone"></a>
                                <a href="javascript:void(0);" class="weibo"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
        <div class="loading" >正在加载中</div>
        <div class="end">没有更多了</div>
    </div>
    
}

</div>
<div class="fr sidebar-box">
    @{ Html.RenderAction("_LoginUser", "Shared");}
   
     @*<div class="best-wenda">
        <div class="nav-tit"><span>精选</span>问答<a href="#" target="_blank">更多</a></div>
        <div class="best-qa-list">
            <div class="tit"><a href="#" target="_blank">孩子性格内向，不喜欢说话（对于亲戚），这种性格好不好？</a></div>
            <div class="qa-info">671回答<span>|</span>1405人收藏</div>
            <div class="qa-user">
                <a href="#" target="_blank" class="photo">
                    <img src="http://apps.edushi.com/avatar/system/018.jpg" />志博云天
                </a>
                <span class="tip">历史问答达人</span>
                <span class="zan-number">347 赞</span>
            </div>
            <div class="qa-item">
                <a href="#" target="_blank">现在的小孩子都生活中电视，电脑，手机的环境中，玩伴较少！对于孩子的性格培养确实增加了难度！很多教育专家会有不同建解？其实我个人觉孩子们的性格现在的小孩子都生活中电视，电脑，手机的环境中，玩伴较少！对于孩子的性格培养确实增加了难度！很多教育专家会有不同建解？其实我个人觉孩子们的性格</a>
            </div>
        </div>
        <div class="best-qa-list">
            <div class="tit"><a href="#" target="_blank">孩子性格内向，不喜欢说话（对于亲戚），这种性格好不好？</a></div>
            <div class="qa-info">671回答<span>|</span>1405人收藏</div>
            <div class="qa-user">
                <a href="#" target="_blank" class="photo">
                    <img src="http://apps.edushi.com/avatar/system/018.jpg" />志博云天
                </a>
                <span class="tip">历史问答达人</span>
                <span class="zan-number">347 赞</span>
            </div>
            <div class="qa-item">
                <a href="#" target="_blank">现在的小孩子都生活中电视，电脑，手机的环境中，玩伴较少！对于孩子的性格培养确实增加了难度！很多教育专家会有不同建解？其实我个人觉孩子们的性格,现在的小孩子都生活中电视</a>
            </div>
        </div>
        <div class="best-qa-list">
            <div class="tit"><a href="#" target="_blank">孩子性格内向，不喜欢说话（对于亲戚），这种性格好不好？</a></div>
            <div class="qa-info">671回答<span>|</span>1405人收藏</div>
            <div class="qa-user">
                <a href="#" target="_blank" class="photo">
                    <img src="http://apps.edushi.com/avatar/system/018.jpg" />志博云天
                </a>
                <span class="tip">历史问答达人</span>
                <span class="zan-number">347 赞</span>
            </div>
            <div class="qa-item">
                <a href="#" target="_blank">现在的小孩子都生活中电视，电脑，手机的环境中，玩伴较少！对于孩子的性格培养确实增加了难度！很多教育专家会有不同建解？其实我个人觉孩子们的性格,现在的小孩子都生活中电视</a>
            </div>
        </div>
    </div>*@
</div>
</div>

@* 底部悬浮 *@
@Html.Partial("_FooterFloat")

<script>
    var ConfigData = {
        "PageIndex":1,
        "Count": "@Model.PageCount",
        "Page": "@Url.Content("~/")",
        "Url": "MoreQuestionData.htm",
        "Id": "@(Model.CurrentType == null ? 0 : Model.CurrentType.IT_ID)",
        "Type": 1
    }
</script>

<script src="@Url.Content("~/asset/js/scrollload.bak.js")"></script>

