
    <ul>
        <li class="mybookrack @ViewBag.CurrentStyle1 ">
            <a href="@Url.Content("~/xiaoshuo/mybookrack.html")">我的书架</a>
        </li>
        <li class="recentlyread @ViewBag.CurrentStyle2">
            <a href="@Url.Content("~/xiaoshuo/recentlyread.html")">最近阅读</a>
        </li>
        <li class="info @ViewBag.CurrentStyle3">
            <a href="@Url.Content("~/my/baseinfo.html?type=3")">基本资料</a>
        </li>
    </ul>





