@{
    ViewBag.Title = "E都市小说";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>爱上头条（E都市）小说频道</title>
    @Html.Partial("/Views/Shared/_PartialHead.cshtml")
</head>
<body>
    <div id="app" v-cloak>
        <section class="top-box">
            <a href="." class="logo"></a>
            <div class="search" onclick='location.href=("@Url.Content("~/info/search.html")")'>
                搜索书籍
            </div>
            <div class="tips">
                <a class="bookshelf" v-on:click="bookStore()"></a>
                <a class="my" v-on:click="login()"><span></span></a>
            </div>
        </section>
        <!--轮播-->
        <section class="carousel">
            <div class="focus-box">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide" v-for="banner in bannerLists">
                        <a v-bind:href="banner.Url"><img v-bind:src="banner.Image"/></a>
                    </li>
                </ul>
            </div>
            <div class="swiper-pagination"></div>
        </section>
        <nav class="home-nav">
            <a href="@Url.Content("~/info/bookstore.html")" class="sort">书库</a>
            <a href="@Url.Content("~/info/rank.html")" class=" rank">排行</a>
            <a href="@Url.Content("~/info/male.html")" class="male">男频</a>
            <a href="@Url.Content("~/info/female.html")" class="female">女频</a>
        </nav>
        <section class="line"></section>
        <section class="module">
            <div class="module-title">精品推荐</div>
            <ul>
                <li v-for="item in indexRecommendLists">
                    <a v-bind:href="item.Href">
                        <div class="img"><img v-bind:src="item.CoverImage"></div>
                        <p class="name">{{item.Name}}</p>
                        <p class="author">{{item.Author}}</p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="line"></section>
        <section class="module">
            <div class="tab-nav">
                <span class="male on">男频新书</span>
                <span class="female" v-on:click="getFemaleList('female')">女频新书</span>
            </div>
            <div class="tab-cnt" style="display: block;">
                <ul class="books-group">
                    <li v-for="item in newMaleFirstchannelLists">
                        <a v-bind:href="item.Href">
                            <div class="img"><img v-bind:src="item.CoverImage"></div>
                            <p class="name">{{item.Name}}</p>
                            <p class="author">{{item.Author}}</p>
                        </a>
                    </li>
                </ul>
                <ul class="books-list">
                    <li v-for="item in newMaleNextchannelLists">
                        <a v-bind:href="item.Href">
                            <div class="img"><img v-bind:src="item.CoverImage"></div>
                            <div class="info">

                                <div class="name">{{item.Name}}</div>
                                <div class="book-info">{{item.Description}}</div>

                                <div class="book-tags">
                                    <div class="author">@*<img v-bind:src="item.CoverImage" />*@{{item.Author}}</div>
                                    <div class="tags">
                                        <span>{{item.StatusDesc}}</span>
                                        <span>{{item.CategoryName}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a v-on:click="goBookList('男频',1,'','',1)" class="more">查看完整榜单</a>
            </div>
            <div class="tab-cnt">
                <ul class="books-group">
                    <li v-for="item in newFemaleFirstchannelLists">
                        <a v-bind:href="item.Href">
                            <div class="img"><img v-bind:src="item.CoverImage"></div>
                            <p class="name">{{item.Name}}</p>
                            <p class="author">{{item.Author}}</p>
                        </a>
                    </li>
                </ul>
                <ul class="books-list">
                    <li v-for="item in newFemaleNextchannelLists">
                        <a v-bind:href="item.Href">
                            <div class="img"><img v-bind:src="item.CoverImage"></div>
                            <div class="info">

                                <div class="name">{{item.Name}}</div>
                                <div class="book-info">{{item.Description}}</div>

                                <div class="book-tags">
                                    <div class="author">@*<img v-bind:src="item.CoverImage" />*@{{item.Author}}</div>
                                    <div class="tags">
                                        <span>{{item.StatusDesc}}</span>
                                        <span>{{item.CategoryName}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a v-on:click="goBookList('女频',2,'','',1)" class="more">查看完整榜单</a>
            </div>
        </section>
        <section class="line"></section>
        <section class="module bookcity">
            <div class="module-title">书城推荐</div>
            <div class="module-li" v-bind:data-id="item.Category2" v-for="(item,key,index) in BookCityRecommend" v-show="isShow">
                <div class="module-li-title">
                    <span class="categoryid_">{{item.Name}}</span>
                    <a v-on:click="goBookList(item.Name,item.Category1,item.Category2,'','')" class="more">查看更多</a>
                </div>
                <ul>
                    <li v-for="book in item.BookList">
                        <a v-bind:href="book.Href">
                            <div class="img"><img v-bind:src="book.CoverImage"></div>
                            <p class="name">{{book.Name}}</p>
                            <p class="author">{{book.Author}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        @Html.Partial("/Views/Shared/_PartialUserCenter.cshtml")
    </div>
    @Html.Partial("~/Views/Shared/_PartialFooter.cshtml")

    <script type="text/javascript" src="~/Content/asset/js/common.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/swiper.min.js"></script>
    <script src="~/Content/asset/js/Novel/index.js?v=20180719"></script>
</body>
</html>