<ul class="categorylist">
    <li class="category"><span>书籍分类</span></li>
    <li class=@ViewBag.CurrentStyle1><a href="@Url.Content("~")" target="_blank">首页</a></li>
    <li class=@ViewBag.CurrentStyle2><a href="@Url.Content("~/info/bookstore.html")" target="_blank">书库</a></li>
    <li class=@ViewBag.CurrentStyle3><a href="@Url.Content("~/info/rank.html")" target="_blank">排行</a></li>
    <li ><a href="@Url.Content("~/info/male.html")" target="_blank">男频</a></li>
    <li ><a href="@Url.Content("~/info/female.html")" target="_blank">女频</a></li>
    <li class=@ViewBag.CurrentStyle4><a href="@Url.Content("~/info/finish.html")" target="_blank">完结</a></li>
</ul>
