
        <p class="title">男频</p>
        <div class="list-a clearfix">
            <span class="dushi"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=3")" target="_blank">都市校园</a></span>
            <span class="linyi"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=4")" target="_blank">灵异悬疑</a></span>
            <span class="xuanhuan"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=5")" target="_blank">玄幻奇幻</a></span>
            <span class="wuxia"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=6")" target="_blank">武侠仙侠</a></span>
            <span class="kehuan"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=7")" target="_blank">科幻灵异</a></span>
            <span class="lishi"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=8")" target="_blank">历史军事</a></span>
            <span class="youxi"><a href="@Url.Content("~/info/bookstore.html?category1=1&category2=9")" target="_blank">游戏竞技</a></span>
        </div>
        <p class="title">女频</p>
        <div class="list-a clearfix">
            <span class="xiandai"><a href="@Url.Content("~/info/bookstore.html?category1=2&category2=10")" target="_blank">现代言情</a></span>
            <span class="gudai"><a href="@Url.Content("~/info/bookstore.html?category1=2&category2=11")" target="_blank">古代言情</a></span>
            <span class="chuanyue"><a href="@Url.Content("~/info/bookstore.html?category1=2&category2=12")" target="_blank">穿越重生</a></span>
            <span class="huanxiang"><a href="@Url.Content("~/info/bookstore.html?category1=2&category2=13")" target="_blank">幻想言情</a></span>
        </div>
